@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lunasima:wght@400;700&display=swap');


*{
    font-family: "Kdam Thmor Pro", sans-serif;
}

.body{
    background: var(--dark-purple-header);
    width: 100%;
    height: 10vmin;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title h1{
    font-family: "Leckerli One";
    color: #ffffff;
    font-weight: 100;
    font-size: 7vmin;
    text-shadow: 0 0 10px #ffffff5b;
}

.login-btn{
    position: absolute;
    right: 2vmin;

    background: #821EAA;
    width: 16vmin;
    height: 7vmin;
    border-radius: 2vmin;
    box-shadow: 0 0 2vmin #b11fea96;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #F8D1F9;

    font-size: 3vmin;
    transition: 0.5s;
}

.login-btn img{
    width: 3.5vmin;
    margin-left: 1vmin;
}

.help{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 7vmin;
    height: 7vmin;
    border-radius: 50%;

    font-family: "Lunasima", sans-serif;
    font-size: 6.5vmin;
    color: #544949;

    background: #FFFFFF;

    position: absolute;
    left: 2vmin;

    box-shadow: 0 0 2vmin rgba(255, 255, 255, 0.356);
    transition: 0.5s;
}

.help:hover, .login-btn:hover, h1:hover{
    filter: brightness(0.8);
    cursor: pointer;
}

h1{
    cursor: pointer;
    transition: 0.5s;
}