<h1>About Us</h1>

<p>
    WatchParty is an innovative way to interact with friends while watching media together. 
    You can enjoy content simultaneously, whether you’re together or apart, thanks to real-time synchronization. 
    Communicate with friends using voice chat, text messages, and image sharing during the viewing experience. 
    Upload your videos to our Cloud Storage and watch them together with your friends.
</p>

<h2>Having Trouble?</h2>
<div>
  Contact Us<a href="mailto:example@somemail.com">example&#64;somemail.com</a>
</div>