<div class="home-container">
    <div class="card">
      <div class="card-content">
        <h2>Watch videos together with friends anywhere.</h2>
        <p>No download required.</p>
      </div>
      <img src="assets/images/tv.png" alt="TV">
    </div>
    <div class="card">
      <div class="card-content">
        <h2>Join any room now, registration is not needed</h2>
        <button class="explore-button" routerLink="/rooms">Explore Rooms ></button>
      </div>
      <img src="assets/images/people-watching.png" alt="People Watching TV">
    </div>
    <div class="card">
      <div class="card-content">
        <h2>To host a room, you need to sign in.</h2>
        <p>In order to provide high quality services we allow only registered users to create and host rooms, you can read more about it in <br><a routerLink="/about" class="about-link">About Us</a> page</p>
        <button class="signin-button" routerLink="/signin">Sign In ></button>
      </div>
    </div>
  </div>