@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

:root{
    --dark-purple-header: #433145;
    --primary-color: #683C6E;
}

html, body, main {
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
}