.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-color);
}

.login-card {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--dark-purple-header);
    font-family: "Kdam Thmor Pro", sans-serif;
    text-align: center;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: var(--dark-purple-header);
}

input {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

input:focus {
    border-color: var(--primary-color);
}

button.login-btn {
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.5s;
}

button.login-btn:hover {
    filter: brightness(0.8);
}

button.login-btn:active{
    transform: translateY(5px);
}

.forgot-password {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
    cursor: pointer;
}

.forgot-password:hover {
    text-decoration: underline;
}
